body {
    font: 16px "Lucinda Grande", sans-serif;
    height: 885px;
    max-width: 1024px;
    overflow: auto;
    color: #666666;
    line-height: 2;
    letter-spacing: 0.8px;
}

h1  {
    margin-left: 250px;
    margin-top: 25px;
    font-size: 50px;
}

h2 {
    color: #f07c17;
    /*weight, then size*/
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 26px;
    padding-bottom: 34px;
    padding-top: 6px; 
    letter-spacing: 2.3px;   
}

ul {
    /*margin-left: 15px;*/
    /*padding-left: 15px;*/
}


.box {
     border-style: solid;
     border-width: 1px;
     /*border-color: #cccccc;*/
     border-color: #666666;
     padding-top: 20px;
     padding-bottom: 30px;
     padding-left: 20px;
     margin-top: 30px;
     margin-right: 10px;
}

img {
    margin-top: 10px;
}


p {
    font-size: 16px;
   /* padding-top: 10px; */
    margin-left: 5px;
    margin-right: 0px;
    line-height: 2;
   /* word-spacing: 1px; */
    /*letter-spacing: 2px;*/
}

li {
    line-height: 2;
    margin-left: 10px;
   /* margin-top: 40px; */
    font-size: 16px;
}

