* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*size, then line-height*/
    font: 16px "Lucinda Grande", sans-serif;
    /*width: 1024px;*/
    height: 885px;
    max-width: 720px;
    overflow: auto;
    color: #666666;
    line-height: 2;
    letter-spacing: 0.8px;
}

h1 {
    color: #666666;
    text-align: center;
    /*top, right, bottom, left*/
    padding: 24px 72px 0 0px;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 0;
}

h2 {
    color: #f07c17;
    /*weight, then size*/
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    font-size: 26px;
    padding-bottom: 34px;
    padding-top: 0;    
}

#main-features-heading {
    padding-left: 5px;
}

/*tweak margins of headings, line-height of <p>*/

.right-text {
    padding: 0 0 0 0;
    margin: -20px 0 5px 0;
}

.main-features {
    border: 1px solid #ccc; 
    padding: 2px 10px 60px 45px;
    width: 373px;
    height: 228px;
    line-height: 1.5em;
    /*top, right, bottom, left*/
    margin: 8px 25px -10px 22px;

     /*padding-top: 31px;
 padding-bottom: 30px;
 padding-left: 29px;
 margin-top: 30px;*/


}

.udacity-mug {
    width: 400px;
    height: 400px;
    padding:2px 0 0 26px;
}

/*toggle opacity and view-index*/
.mockup-overlay {
    left: 15px;
    margin: 0;
    opacity: 0.4;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}


.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}