* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*size, then line-height*/
    font: 16px/30px "Verdana", sans-serif;
    width: 1024px;
    height: 885px;
    max-width: 720px;
    overflow: auto;
}

h1 {
    color: #666666;
    text-align: center;
    padding: 24px 10px 0 90px;
    /*top, right, bottom, left*/
    font-size: 48px;
    font-weight: 400;
}

h2 {
    color: #f07c17;
    /*weight, then size*/
    font: 600 large;
}

/*tweak margins of headings, line-height of <p>*/

.right-text {
    padding: 0 0 0 0;
    margin: -20px 0 5px 0;
    max-width: 65px;
}

.main-features {
    border: 1px solid #ccc; 
    padding: 2px 10px 40px 40px;
    width: 373px;
    height: 228px;
    line-height: 1.5em;
    /*top, right, bottom, left*/
    margin: 8px 25px -10px 22px;
}

.udacity-mug {
    width: 400px;
    height: 400px;
    padding:2px 0 0 26px;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}